.container {
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px;
    font-family: sans-serif;
}

.headers {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    text-align: center;
    font-weight: bold;
}
.content{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    text-align: center;
}

.content button {
    display: flex;
    align-items: start;
    height: 25px;
    justify-content: center;
    width: 100%;
}

.acciones {
    display: flex;
    justify-content: center;
    gap: 20px;
}